@import 'variabels'
  
// Site Colors
$ColorPrimary: $YELLOW
$ColorAccent: $RED
$ColorBlack: $BLACK
$ColorWhite: $WHITE

// Text Colors
$TextColorPrimary: $BLACK
$TextColorSecondary: $GREY
$TextColorAccent: $YELLOW

$TextLarge: 52px
$Textmedium: 42px
$TextSmall: 24px
$TextExtraSmall: 18px

$FontSpecial: 'Abril Flatface'
$FontPrimary: 'Montserrat'

$FontBold: 700
$FontLight: 300